{% extends 'blog/layout.html' %}
{% load staticfiles %}
{% block title %}
    Просмотр профиля {{ user.username }}
{% endblock %}

{% block content %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>{{ user.username }}</h1>

            <ul class="nav nav-tabs">
              <li role="presentation">
                <a href="{% url 'user_profile' user.username %}">Профиль</a>
              </li>
              <li role="presentation">
                  <a href="{% url 'user_articles' user.username %}">Публикации <span class="badge">{{ user.article_set.count }}</span></a>
              </li>
              <li role="presentation" class="active">
                  <a href="{% url 'user_comments' user.username %}">Комментарии <span class="badge">{{ user.comments_set.count }}</span></a>
              </li>
              <li role="presentation">
                <a href="#">Избранное <span style="color: gray;"></span></a>
              </li>
            </ul>
            {% for comment in comments %}
                <div class="col-md-2" style="word-break: break-all;">
                    <a href="{% url 'article' comment.news.id %}">{{ comment.news }}</a>
                </div>
                <div class="col-md-10" style="word-break: break-all;">
                    <h5><a href="{% url 'user_profile' comment.user.username %}">{{ comment.user.username }}</a>
                    <small>{{ comment.created_at }}</small>
                    </h5>
                    <h4>{{ comment.message }}</h4>
                    <br>
                </div>
                {% empty %}
                    <h4>Комментарии отсутствуют:(</h4>
                {% endfor %}
                <hr>


        </div>

{% endblock %}