.main-content{
    /*margin-top: 80px;*/
}
#avatar_on_index {
    padding-bottom: 10px;
    padding-left: 0;
    border-right: dotted 1px #808080;
    border-bottom: dotted 1px #808080;
}
.user_info_block{
    border-bottom: dashed 1px green;
    padding: 0;
}