{% extends 'blog/base.html' %}
{% load humanize %}
{%  block title %}
Личный кабинет
{% endblock %}

{%  block content %}
   {% if user.is_authenticated %}

<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Личный кабинет</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'home'%}">Главная</a></li>
                <li class="active">Личный кабинет</li>
            </ol>
            <hr>
            <h1>
                <small>Привет,{{ user.username }} ! Ваш профиль был создан {{user.date_joined | naturaltime }}.<br>
                Последний раз логинился на сайт {{ user.last_login | naturaltime  }}</small>
            </h1>
            <div class="list-group col-lg-3 col-md-4 col-sm-5">
                <a href="{% url 'my_edit' %}" class="list-group-item">Редактировать личные данные</a>
                <a href="{% url 'my_edit_avatar' %}" class="list-group-item">Изменить аватар</a>
                <a href="{% url 'my_news' %}" class="list-group-item">Ваши новости</a>
                <a href="{% url 'my_delete' %}" class="list-group-item list-group-item-danger"
                   onclick="return confirm('Вы уверены,что хотите удалить свой аккаунт?')">Удалить аккаут</a>
            </div>
        </div>
    </div>
   {% else %}
    <h1 class="text-center">Вы не вошли на сайт!</h1>
    {% endif %}
{% endblock %}