
{% extends 'blog/layout.html' %}
{% block title %}
    Вход на сайт
{% endblock %}
{%  block content %}
    {% if user.is_authenticated %}
    <h1 class="text-center">Вы уже вошли на сайт!</h1>
    {% else %}
    <h1>Вход пользователя</h1>
            <hr>
            <form class="form-horizontal" role="form" method="POST" action="/auth/post_login/" name="loginForm" id="formLogin" ng-controller="loginCtrl">
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-2 control-label">Логин</label>
                    <div class="col-md-6">
                        <input ng-model="login"  type="text"
                         class="form-control" name="username" value="" required>
                        <span class="help-block" ng-show="loginForm.login.$error.required">
                                     Обязательное поле</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-6">
                        <input ng-model="password" ng-minlength="6" ng-maxlength="16"
                               type="password" class="form-control" name="password" required>
                        <span class="help-block" ng-show="loginForm.password.$error.minlength">
                                    Минимум 6 символов</span>
                        <span class="help-block" ng-show="loginForm.password.$error.maxlength">
                                    Максимум 16 символов</span>
                                    <span class="help-block" ng-show="loginForm.password.$error.required">
                                     Обязательное поле</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember"> Запомнить меня
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Войти!">
                    </div>
                </div>

                <div class="form-group">
                   <h4><label class="col-md-4 control-label"> <a href="{% url 'get_register' %}">Еще не зарегистрированы?</a></label></h4>
                </div>
            </form>
    {% endif %}
{% endblock content %}