{% extends 'blog/layout.html' %}

{% load bootstrap3 %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <h3>
        <small>Автор:<a href="{% url 'user_profile' article.user.username %}">{{ article.user.username }}</a></small>
    </h3>
    <pre>{{ article.text }}</pre>
    <hr>
    <h2>Комментарии ({{ comments.count }})</h2>
    {% for comment in comments %}
        <h5><a href="{% url 'user_profile' comment.user.username %}">{{ comment.user.username }}</a>
            <small>{{ comment.created_at }}</small>
        </h5>
        <h4 style="word-break: break-all;">{{ comment.message }}</h4>
        <br>
    {% empty %}
        <h4>Комментарии отсутствуют:(</h4>
    {% endfor %}
    <hr>
    {% if user.is_authenticated %}
        <div class="col-md-8 col-sm-10">
            <h2 style="margin-bottom: 20px;">
                <small>Добавить комментарий</small>
            </h2>
            <form class="form-horizontal"
                  name="add_comment_form" role="form" method="POST"
                  action="comments/">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="alert alert-danger">
                                <ul>
                                    {{ form.errors }}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% bootstrap_form form layout='horizontal' size='medium' horizontal_label_class='col-md-2' horizontal_field_class='col-md-7' %}
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2 text-center">
                        <input type="submit" class="btn btn-primary" name="submit" value="Добавить комментарий">
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Только зарегистрированные пользователи могут оставлять комментарии.<a
                href="{% url 'get_login' %}" class="alert-link">Войдите</a> или <a href="{% url 'get_register' %}"
                                                                                   class="alert-link">зарегистрируйтесь</a>.
        </div
    {% endif %}

{% endblock %}